aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src='/images/crop.png',alt='User Image').img-align-left
            .pull-left.info
                p Aghisna Aulia Rahma
                a(href='#')
                    i.fa.fa-globe-europe.text-success
                    | Online
        form(action='#',method='get').sidebar-form
            .input-group
                input(type='text', name='q',placeholder='Search here').form-control
                span.input-group-btn
                    button(type='submit', name='search')#search-btn.btn.btn-flat
                        i.fa-fa-search
        ul.sidebar-menu
            li.header
                | Main Navigation
            li.treeview
                a(href='#')
                    i.fa.fa-columns
                    span
                        | Contact Us
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='#')
                            i.fa.fa-align-left
                            | About Us
                    li
                        a(href='#')
                            i.fa.fa-align-left
                            | Contact